:root {
  --color-navy: #09364e;
  --color-sand: #e2c1af;
  --color-muted: #89919a;
  --color-bg: #ffffff;
  --color-bg-soft: #f6f5f4;
  --font-main: "Montserrat", sans-serif;
  --sidebar-width: 315px;
  --rightbar-width: 138px;
  --bp-desktop: 1200px;
}
